* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #1f2122;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rating {
  width: 350px;
  height: 350px;
  background-color: #252a2e;
  padding: 30px;
  border-radius: 50px;
}
.star {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32373f;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-bottom: 40px;
}
.star img {
  width: 20px;
  height: 20px;
}
.rating h2 {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}
.rating p {
  color: #8d8d8d;
  font-family: tahoma;
}
.rating-container {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rating-button {
  background-color: #32373f;
  color: #8d8d8d;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
}
.rating-button:hover {
  background-color: #ee831e;
  color: #1d1919;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 800;
}
.rating-button:visited {
  background-color: #fff;
  color: #1d1919;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 800;
}
.rating-button.active {
  background-color: #fff;
  color: #080947;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 800;
}
.submit-button {
  background-color: rgb(255, 123, 0);
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 600;
}
.submit-button:hover {
  background-color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}
/* Thank you styles below */
.container2 {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: space-around;
  align-items: center;
}

.thank-you {
  width: 350px;
  height: 350px;
  background-color: #252a2e;
  padding: 50px;
  border-radius: 50px;
}
.thank-you-img {
  margin-left: 25%;
  margin-right: 25%;
}
.thank-you-text {
  background-color: #32373f;
  color: rgb(255, 136, 0);
  margin: 30px;
  padding: 10px 20px;
  border-radius: 50px;
}
.thank-you h1 {
  color: #fff;
  margin-left: 25%;
  margin-right: 25%;
}
.thank-you p {
  color: #8b8b8b;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

@media screen and (max-width: 430px;) {
  .container {
    width: 100%;
    height: 100vh;
  }
}
